exams/JulyExam19/JulyExam19Client/src/wsdl/localhost_9000/MovieService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://julyexam19soapserver.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ExamImplService" targetNamespace="http://julyexam19soapserver.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://julyexam19soapserver.mycompany.com/" elementFormDefault="unqualified" targetNamespace="http://julyexam19soapserver.mycompany.com/" version="1.0">

  <xs:element name="director" type="tns:director"/>

  <xs:element name="getDirectorById" type="tns:getDirectorById"/>

  <xs:element name="getDirectorByIdResponse" type="tns:getDirectorByIdResponse"/>

  <xs:element name="getMovieById" type="tns:getMovieById"/>

  <xs:element name="getMovieByIdResponse" type="tns:getMovieByIdResponse"/>

  <xs:element name="getMovies" type="tns:getMovies"/>

  <xs:element name="getMoviesResponse" type="tns:getMoviesResponse"/>

  <xs:element name="movie" type="tns:movie"/>

  <xs:complexType name="getMovies">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMoviesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:movie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="movie">
    <xs:sequence>
      <xs:element name="director" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="year" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMovieById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMovieByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:movie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDirectorById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDirectorByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:director"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="director">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="year" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMovies">
    <wsdl:part element="tns:getMovies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovieById">
    <wsdl:part element="tns:getMovieById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMoviesResponse">
    <wsdl:part element="tns:getMoviesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDirectorById">
    <wsdl:part element="tns:getDirectorById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDirectorByIdResponse">
    <wsdl:part element="tns:getDirectorByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovieByIdResponse">
    <wsdl:part element="tns:getMovieByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExamInterface">
    <wsdl:operation name="getMovies">
      <wsdl:input message="tns:getMovies" name="getMovies">
    </wsdl:input>
      <wsdl:output message="tns:getMoviesResponse" name="getMoviesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovieById">
      <wsdl:input message="tns:getMovieById" name="getMovieById">
    </wsdl:input>
      <wsdl:output message="tns:getMovieByIdResponse" name="getMovieByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirectorById">
      <wsdl:input message="tns:getDirectorById" name="getDirectorById">
    </wsdl:input>
      <wsdl:output message="tns:getDirectorByIdResponse" name="getDirectorByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExamImplServiceSoapBinding" type="tns:ExamInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMovies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMovies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMoviesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovieById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMovieById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMovieByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirectorById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDirectorById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDirectorByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExamImplService">
    <wsdl:port binding="tns:ExamImplServiceSoapBinding" name="ExamImplPort">
      <soap:address location="http://localhost:9000/MovieService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>